@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    justify-content: center;
    min-height: 100vh;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
span{
    color: #000;
}
.slide-content{
    width: 950px;
}



/*  header start */ 
header{
    display: flex;
    background-color: rgba(1, 21, 39, 0.933);
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
   

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    margin-right: 10px;
}
.header_logo{
    color: #fff;
    font-weight: 900;
    line-height: 4px;
}
.nav_list{
    display: flex;
    align-items: center;
 
}
.nav_item{
    margin: 0 25px;
}
.nav_link{
    padding: 10px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}
.nav_link:hover{
background-color: rgba(0, 255, 255, 0.252);
}
.header_toggle,
.header_close{
    display: none;
}
/*  header  end  */





/*  home start */
.showcase-area {
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 45px;
    margin-right: 25px;
}
.big-title{
font-size: 40px;
color: #ffcc74;
text-transform: capitalize;
line-height: 1.4;
}
.big-title h1{
    font-size: 35px;
}
.text{
    color: rgba(0, 0, 0, 0.592);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3rem;
    text-align: justify;
}
.showcase-area .btn{
    box-shadow: 0 0 40px 2px rgba(0, 0,0, 0.05);
}
.person{
    border-radius: 16px;  
}
.right img{
    cursor: pointer;
    width:600px;
    height: auto;
    max-width: 100%;
}
.right img:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 1px solid #ffcc7400;
    color:black ;
    transition: .5s;
    box-shadow:0 0 20px 3px #ffcc74;
}
.bt a{
    color: #000;
}
/* home end*/





/* about start*/
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
    border-radius: 16px;
    cursor: pointer;

}
.about .content img:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 1px solid #ffcc7400;
    color:black ;
    transition: .5s;
    box-shadow:0 0 20px 3px #ffcc74;
}
.text1{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.text1 h1{
    color: #ffcc74;
    font-size: 40px;
    margin-bottom: 1px;
    text-transform: capitalize;
}
.text1 h5{
    color: black;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.text1 p{
    color:rgba(0, 0, 0, 0.592) ;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-align: justify;
    text-indent: 30px;
}
button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}
button:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color:black ;
    transition: .4s;
    cursor: pointer;
}
/* about end*/


/* servieces start*/
.services1{
    color: #ffcc74;
    font-size: 25px;
    text-align: center;
}
.text3{
    margin-bottom: 100px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    
}
.column{
    width: 100%;
    padding: 1em 1em 1em 1em;
    text-align: center;
    height:auto;

}
.card{
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#fff 50%,#ffcc74 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow:0 0 20px 3px rgba(0, 0, 0,.12);
  cursor: pointer;
  transition: 0.5s;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 1em 0;
}
.p{
    color: rgba(0, 0, 0, 0.592);
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 500px;
    line-height: 1.4rem;
    text-align: justify;
    

}
.icon-wrapper{
    background-color: #ffcc74;
    position:static;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;

}
.card:hover{
    background-position: 0 100%;
}
.card:hover .icon-wrapper{
    background-color: black;
    color: #ffcc74;

}
.card:hover h3{
    color: #000;
}
.card:hover p{
    color:rgba(0, 0, 0, 0.592) ;
}
/* serviecs end*/





/*project start*/
.slide-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    z-index: 0;
}
.slide-content{
    margin: 0 40px;

    
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
    
}
.card1{
    border-radius: 25px;
    background-color: #fff;
    
}
.card-image{
    position: relative;
    height:100%;
    width: 80%;
    border-radius: 16px;
    padding: 2px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius:16px;
    border: 3px solid #ffcc74;
    
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    text-align: justify;
    line-height: 1.3rem;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ffcc74;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ffcc74;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.button{
    margin-top: 14px;
}
.button a{
    color: #fff;
   
   
    
}

.button a i{
    border: none;
    font-size: 16px;
    color:#fff;
    padding: 2px 4px;
    background-color:#ffcc74;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 5px;
}
.button:hover {
    background: #ffcc74;
}
.arrow{
    color: #000 !important;
    transition: 0.3s ease;
    
}
.arrow:hover{
    color: #000;
}
.arrow::before,
.arrow::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
    
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #050403;
    opacity: 1;
}
/*project end*/




/*contact-form start*/
.contact .box-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

}
.box-container .box1{
    
    padding: 2rem;
    border:2px solid #000;
    background-color: #ffcc74 transparent ;
    width: 22%;
    margin-top: -100px;
    cursor: pointer;
    border-radius: 16px;
}
.box-container .box1:hover{
    background-color: #ffcc74;
}
.box-container .box1 i{
    font-size: 2rem;
    color: #000;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    background-color: #000;
    border-radius: 50%;

}
.box-container .box1 h3{
    margin: 1rem 0;
    font-size: 1rem;
}
.box-container .box1 p{
    font-size: 1rem;
    text-transform: none;
    color: #000;
}


.contact-form{
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
    margin-bottom: 160px;
}
.contact-form input,.contact-form textarea{
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: #000;
    background: #ffcc74 transparent;
    border-radius: 0.4rem;
    border: 2px solid #000;
}

.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: #ffcc74 transparent !important;
    cursor: pointer;
    color:#000;
    -webkit-appearance: none;

}


.contact-form .send-btn:hover{
    background: #ffcc74;
    transition: 0.3s all linear;
}
/*contact-form end*/

/*footer start*/
.footer{
    padding: 40px 0;
    background-color:rgba(1, 21, 39, 0.933) ;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #fff;

}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    background: #ffcc74;
    border: 3px solid #000;
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}   
.footer ul a{
    color: #fff;
    text-decoration: none;
    opacity: 0.8;

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 25px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: 0.8;
}
/*footer end*/



/*media quary start*/
@media screen and (max-width: 768px) {
    header{
        height: 58px;
        justify-content: space-between;
        padding: 0 28px;
        
    }
    .scroll{
        position: fixed;
        top: 0%;
        width: 100%;
    }
    .logo a{
        font-size: 0.9rem;
    }
    .logo img{
        width: 100px;
    }
    .header_toggle{
        display: inline;
        color: #fff;
        font-size: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    
    }
    .header_close:hover {
        background-color:rgba(0, 255, 255, 0.252);
    }
    .nav{
        position: fixed;
        top: 0px;
        right:-100%;
        background-color:rgba(1, 21, 39, 0.933);
        color: #fff;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
    }
    .nav_item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }






 /* home*/
   .showcase-area{
    grid-template-columns: 1fr;
   }
   .person{
    width: 100%;
    transform: none;
   }
   .cta{
    
    margin-bottom: 3rem;
    border-radius: 10px;
    padding-left: 70px;
    margin-right: 5px;

   }
   .right img{
    margin-left: -10px;
    height: 20vh;
   }



/* servieces start*/
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top:-80px;
    margin-bottom: 30p;
}
.text3{
    margin-top: 70px;
    
}

/* servieces end*/
/* project start*/
.arrow{
    display: none;
}
.slide-content{
    margin:0;
}
.slide-content{
    width: 80%;
}
/*project-end*/


/*contact-start*/
.contact-form{
    width: 80%;
}
.contact .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: -100px;

}
.box-container .box1{
    width: 80%;
    margin:10px;
}

}


/*about*/
@media screen and (max-width: 1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px){
    .about .content img{
        margin-bottom: 35px;
        width: 90%;
        height: auto;
        
    }
    .text1 h1{
        font-size: 42px;
        margin-bottom: 5px;
        text-align: center;
    }
    .text1 h5{
        text-align: center;
        margin-bottom: 40px;
        letter-spacing: 1.5px;
    }
    .text1 p{
        text-align: center;
        text-align: justify;
        text-indent: 20px;
    }
    .about .content button{
        margin-left: 80px;
      
    }
    .text3 h1{
        font-size: 42px;
    }
    .text{
        text-align: justify;
    }

    .contact .box-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin-top: -100px;
    
    }
    .box-container .box1{
        width: 80%;
        margin:10px;
    }
    

}
